<template>
<section class="comment">
    <div class="response">
        <h4>Responses</h4>
        <div>
            <div class="media response-info" v-for="(comment, index) in commentList" :key="index">
                <div class="media-header response-text-left">
                    <ul>
                        <li>{{comment.createdate | moment("dddd, MMMM Do YYYY")}}</li>
                    </ul>
                </div>
                <a href="" class="user-img"><i class="glyphicon glyphicon-user"></i></a>
                <div class="media-body response-text-right">
                    <a class="remove-icon"><i class="glyphicon glyphicon-remove"></i></a>
                    <p class="content">
                        <a href="#" class="user-name">{{comment.username}}</a>&nbsp;&nbsp;{{comment.content}}
                    </p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="coment-form">
        <h4>Leave your comment</h4>
        <form>
            <textarea onfocus="this.value = '';"
                onblur="if (this.value == '') {this.value = 'Your Comment...';}"
                v-model="CommentViewModel.content">Your Comment...</textarea>
            <input type="submit" id="btnComment" value="Submit Comment" @click.prevent="leaveComment">
        </form>
    </div>
</section>
</template>

<script>
import api from '.././service/api'
import Vue from 'vue'
import VueMoment from 'vue-moment'
Vue.use(VueMoment)
/* eslint-disable */
export default {
  name: 'Comment',
  data () {
      return {
          CommentViewModel: {
              content: '',
              username: localStorage.getItem('username'),
              createdate: new Date()
          },
          commentList: []
      }
  },
  created() {
      api.getCommentBySlug(this.$route.params.slug)
      .then(res => {
          this.commentList = res.data
      })
  },
  methods: {
      leaveComment() {
          if (this.CommentViewModel.username)
          {
              api.createComment(this.CommentViewModel, this.$route.params.slug)
              .then(res => {
                //this.commentList.unshift(this.commenttemp)
                api.getCommentBySlug(this.$route.params.slug)
                .then(res => {
                    this.commentList = res.data
                })
              })
          }
          else
          {
              if (confirm("You must log in to leave your comment")) {
                  localStorage.clear()
                  this.$router.push({
                      name: 'Login'
                  })
              }
          }
      }
  }
}
</script>

<style scoped>
.response h4 {
    color: #333;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 1.5em;
}
.coment-form input[type="text"] {
    display: block;
    background: none;
    color: #777;
    border: 1px solid #ddd;
    width: 70%;
    margin-bottom: 5px;
    outline: none;
    font-size: 13px;
    font-weight: 400;
    padding: 13px 15px;
    font-family: 'Open Sans', sans-serif;
}
.coment-form input[type="submit"] {
    background: #4A245E;
    border: 1px solid #4A245E;
    padding: .8em 0;
    width: 30%;
    margin-top: .5em;
    font-size: 15px;
    color: #fff;
    letter-spacing: 0.5px;
    outline: none;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    font-family: 'Open Sans', sans-serif;
    text-transform:uppercase;
}
.coment-form input[type="submit"]:hover{
   background:#f26649;
    border: 1px solid #f26649;
}
.coment-form textarea {
    background: none;
    color: #777;
    border: 1px solid #ddd;
    width: 100%;
    display: block;
    height: 150px;
    outline: none;
    font-size: 13px;
    font-weight: 400;
    resize: none;
    padding: 13px 15px;
    font-family: 'Open Sans', sans-serif;
}
.coment-form h4 {
 color: #333;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 1.5em;
}
.media-left.response-text-left {
    float: left;
    width: 19%;
}
.response-text-right p {
    color: #777;
    font-size:0.9em;
    margin: 0 0 1em;
    line-height:1.9em;
}
.content {
    font-size: 16px;
    margin: 0;
    margin-right: 40px;
}
.coment-form {
    margin-top: 2em;
    padding-bottom:1em;
}

.response-info {
    margin-bottom: 35px;
    font-size: 16px;
    display: flex; 
    padding-top: 30px;
    position: relative;   
}

.response-text-left {
    display: flex;
    position: relative;
    margin-bottom: 15px;
    height: 1.2em;
}

.response-text-left ul {
    list-style: none;
    width: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0px;
}

.user-img {
    font-size: 25px;
    padding: 10px;
    height: 50px;
    display: flex;
    align-items: center;
}

.response-text-left ul li{
    display: inline-block;
    margin: 0;
    font-size: 14px;
    font-style: italic;
}

.response-text-right {
    float: unset;
    padding: 10px 35px 5px 35px;
    background: #f3f3f3;
    border-radius: 35px;
    border: 1px solid #eaeaea;
    position: relative;
}

.response-text-right a i{
    opacity: 0;
    transition: 0.5s ease;
}

.response-info:hover .response-text-right a i{
    opacity: 1
}

.response-text-left {
    position:absolute;
    top: 0;
    right: 0;
    width: 100%;
    text-align: right;
}
.remove-icon {
    position: absolute;
    top: 15px;
    right: 15px
}
.user-name {
    font-weight: bold;
    margin-right: 15px;
}
</style>
