<template>
    <div class="sign-up-form">
        <h3 class="tittle">Create Article <i class="glyphicon glyphicon-file"></i></h3>
        <form>
            <div class="sign-up">
                <div class="sign-u">
                    <div class="sign-up1">
                        <label>Description* :</label>
                    </div>
                    <div class="sign-up2">
                        <input type="text" class="form-control text" v-model="article.description">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="sign-u">
                    <div class="sign-up1">
                        <label>Title* :</label>
                    </div>
                    <div class="sign-up2">
                        <input type="text" class="form-control text" v-model="article.title">
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="sign-u">
                    <div class="sign-up1">
                        <label>Category* :</label>
                    </div>
                    <div class="sign-up2">
                        <select class="form-control " v-model="article.category">
                            <option>Cuisine</option>
                            <option>Hi-tech</option>
                            <option>Education</option>
                            <option>Travel</option>
                            <option>Funny</option>
                            <option>Cine</option>
                            <option>Discovery</option>
                            <option>Musik</option>
                        </select>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="sign-u" style="margin-top: 25px;">
                    <div class="sign-up1">
                        <label>Content* :</label>
                    </div>
                    <div class="sign-up2">
                        <ckeditor
                        v-model="article.content"
                        :config="config">
                        </ckeditor>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="sign-u" style="margin-top:25px">
                    <div class="sign-up1">
                        <label>Image :</label>
                    </div>
                    <div class="sign-up2">
                        <input type="file" class="form-control-file " id="file" ref="file" accept="image/*" name="fileUpload" v-on:change="handleFileUpload()"/>
                        <img v-bind:src="imagePreview" v-show="showPreview" width="300" />
                    </div>
                    <div class="clearfix"> </div>
                </div>
                    <input type="submit" class="btn btn-primary btn-lg" value="Submit" @click.prevent="addArticle">
            </div>
        </form>
    </div>
</template>

<script>
import Ckeditor from 'vue-ckeditor2'
import api from '.././service/api'
/* eslint-disable */
export default {
    name: 'CreateProduct',
    components: {
        Ckeditor
    },
    data(){
        return {
            article: {
                description: '',
                title: '',
                category: '',
                content: ''
            },
            config:{
                toolbar: [
                    ['Undo','Redo'],
                    ['Bold','Italic','Strike'],
                    ['NumberedList','BulletedList'],
                    ['Cut','Copy','Paste'],
                    ['Image'],
                    ['Subscript', 'Superscript']
                ],
                height: 300
            },
            file: '',
            showPreview: false,
            imagePreview: ''
        }
    },
    methods: {
        addArticle () {
            let formData = new FormData()
            formData.append('file', this.file)
            formData.append('username', localStorage.getItem('username'))           
            for (var key in this.article)
            {
                formData.append(key, this.article[key])
            }
            api.createArticle(formData)
            .then(res => {
                this.$router.push({
                name: 'ProductList'
              })
          })
        },
        handleFileUpload() {
            this.file = this.$refs.file.files[0]
            let reader = new FileReader()
            reader.addEventListener("load", function() {
                this.showPreview = true;
                this.imagePreview = reader.result;
            }.bind(this), false)
            if (this.file) {
                if ( /\.(jpe?g|png|gif)$/i.test(this.file.name)) {
                    reader.readAsDataURL(this.file)
                }
            }
        }
    }
}
</script>

<style scoped>
.sign-up{
    padding: 0em 0em;
    margin: 0 auto;
}
.sign-up-form {
    padding: 3em 5em;
}
.sign-up-form p{
    color: #777;
    font-size: 0.9em;
    margin: .5em 0 3em;
    line-height: 1.7em;
}
.sign-up input[type="submit"]{
    outline: none;
    border: none;
    background: #4A245E;
    color: #fff;
    font-size: 20px;
    width: 17%;
    font-weight: 600;
    margin-left: 18em;
    margin-top: 3em;
    padding: 13px 0;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    text-transform: uppercase;
    -webkit-appearance: none;
}
.sign-up input[type="submit"]:hover{
    background: #F26649;
}
.sign-up1{
	float:left;
	width:27%;
}
.sign-up1 h4{
	color: #3C4348;
    margin: 1.4em 0 1em;
    font-size: 16px;
    font-weight: 400;
}
.sign-up2{
	float:right;
	width:70%;
}
.sign-up2 input[type="text"]{
	outline:none;
	border:1px solid #333;
	background:none;
	font-size:15px;
	padding:10px 10px;
	width:100%;
	margin:1em 0;
	color: #999;
	font-family: 'Open Sans', sans-serif;
}
.sign-up2 input[type="password"]{
	outline:none;
	border:1px solid #333;
	background:none;
	font-size:15px;
	padding:10px 10px;
	width:100%;
	margin:1em 0;
	font-family: 'Open Sans', sans-serif;
	color: #999;
}
h3.tittle {
    color: #333;
    font-size: 2em;
	text-align:left;
	margin-bottom:0.8em;
}
h3.tittle i {
    font-size: 0.7em;
    color: #F26649;
}
h3.tittle.reg {
    font-size: 1.6em;
}
h3, h4{
    margin:0;		
    font-family: 'Montserrat-Regular';
    font-weight:700;
}
</style>
