<template>
    <div class="login">
    <div class="login-grids">
        <form>
            <div class="col-md-6 log">
                <h3 class="tittle">Login <i class="glyphicon glyphicon-lock"></i></h3>
                <label>User Name:</label>
                <input type="text" class="email form-control" name="UserName" v-model="loginModel.username">
                <label>Password:</label>
                <input type="password" class="password form-control" name="Password" v-model="loginModel.password">
                <p style="color:#D52500;" v-if="errors">{{errors}}</p>
                <input type="submit"  value="Login" class="btnsubmit" @click.prevent="userLogin">
            </div>
        </form>
        <div class="col-md-6 login-right">
            <h3 class="tittle">New Registration <i class="glyphicon glyphicon-file"></i></h3>
            <p>By creating an account with our blog, you will be able to move through the checkout process faster</p>
            <router-link to="/register" class="btn btn-lg">Create An Account</router-link>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
</template>

<script>
/* eslint-disable */
import api from '.././service/api'
export default {
    name: 'Login',
    data () {
        return {
          loginModel: {
            username: '',
            password: ''
          },
          userInfo: {},
          errors: ''
        }        
    },
    methods: {
        userLogin() {
            api.login(this.loginModel)
            .then(res => {
                localStorage.setItem('username', res.data.userName)
                this.$router.push({
                    name: 'ProductList'
                })               
            })
            .catch(err => {
                this.errors = err.response.data.LoginFailed[0]
            })

        }
    }
}
</script>

<style scoped>
.login {
    padding: 5em 3em;
}
.login-grids {
  padding: 3em 0 0;
}
.log form input[type="password"] {
    margin-right: 58px;
}
.log h5{
    color: #F26649;
    font-size: 16px;
    text-transform: capitalize;
    margin: 0 0 10px 0;
    font-weight: 400;
}
.log form {
    margin-top:32px;
}
.log p a{
    text-decoration:none;
    color:#4a245e;
}
.log p a:hover{
    color: #F26649;
    transition: .5s all;
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    -moz-transition: .5s all;
}
.login-right p {
    color: #777;
    margin: 22px 0 40px 0;
    font-size: 0.9em;
    line-height: 1.9em;
}
.log p{
    color: #777;
    margin: 22px 0;
    font-size: 0.9em;
    line-height: 1.8em;
}
.log p:nth-child(4) {
    margin:0;
}
.log a{
    text-decoration:none;
    color: #F26649;
}
.log a:hover{
    color:#4a245e;
    transition: .5s all;
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    -moz-transition: .5s all;
}
.login-right a{
    text-decoration: none;
    background: #4A245E;
    color: #ffffff;
    font-size: 16px;
    padding: 14px 34px;
}
h3.tittle {
    color: #333;
    font-size: 2em;
	text-align:left;
	margin-bottom:0.8em;
}
h3.tittle i {
    font-size: 0.7em;
    color: #F26649;
}
h5.top a {
    line-height: 1.6em;
    font-size: 1.3em;
    color: #4A245E;
    font-weight: 300;
}
h5.top a:hover{
    color:#f26649;
}
h5.inner.two a {
    color: #4A245E;
    font-weight:400;
    text-transform: none;
    font-size: 1.1em;
    line-height: 1.7em;
}
.sign-up h5{
	margin: 0 0 2em;
	color: #D52500;
	font-size: 20px;
}
.media-left.response-text-left h5 a {
    color: #4A245E;
    font-weight: 400;
    line-height: 2em;
}
h3, h5{
    margin:0;		
    font-family: 'Montserrat-Regular';
    font-weight:700;
}
.email,.password{
    width: 70%;
    padding: 8px;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #e6e6e6;
    outline: none;
    color: #000;
    margin-bottom:32px;
}
.alert-danger{
    width: 70%;
    padding: 8px;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #e6e6e6;
    outline: none;
    margin-bottom:32px;
}
.password{
    margin-right: 58px;
}
.btnsubmit{
    border: none;
    color: #ffffff;
    padding: 11px 53px;
    font-size: 17px;
    cursor: pointer;
    margin: 0 0 32px 0;
    background: #4A245E;
    border: none;
    outline: none;
    -webkit-appearance: none;
    border-radius: 5px;
}
.btnsubmit[type=submit]:hover,.login-right a:hover {
    background: #F26649;
    transition: .5s all;
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    -moz-transition: .5s all;
}
</style>
