<template>
<section class="product-list">
    <div class="vce-main-content">
        <div class="main-box">
            <div class="main-box-inside">
                <div class="vce-loop-wrap">
                    <article class="vce-post vce-lay-b" v-for="(article, index) in articlespaging" :key="index">
                        <div class="meta-image">
                            <a href="#">
                                <img class="img-post" v-bind:src="article.image"/>
                            </a>
                        </div>
                        <header class="entry-header">
                            <span class="meta-category">
                                <b>Category:</b>
                                <router-link :to="'/home/category/' + article.category">{{article.category}}</router-link>
                            </span>
                            <div class="entry-meta">
                                <div class="meta-item">
                                    <span class="update">{{article.createDate | moment("dddd, MMMM Do YYYY")}}
                                    </span>
                                </div>
                            </div>
                            <h2 class="entry-title">
                                <router-link :to="'/home/article/' + article.slug">{{article.title}}</router-link>
                            </h2>
                            <div class="entry-content">
                                <p>{{article.description}}</p>
                            </div>
                        </header>
                    </article>
                </div>
                <!--paginate v-bind:pagingInfo="pagingInfo"
                    :currentPage="currentPage"
                    @changeCurrentPage="currentPage = $event">
                </paginate-->
                <div>
                    <b-pagination :total-rows="pagingInfo"
                        v-model="currentPage"
                        @input="otherPageNumber"
                        :per-page="10">
                    </b-pagination>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <RecentActive v-bind:numberOfPost="pagingInfo"></RecentActive>
    </section>
</template>

<script>
import Vue from 'vue'
import bPagination from 'bootstrap-vue/es/components/pagination/pagination'
import RecentActive from './RecentActive'
import api from '.././service/api'
import VueMoment from 'vue-moment'
Vue.use(VueMoment)
/* eslint-disable */
export default {
    name: 'ProductList',
    data () {
        return{
          articles: [],
          articlespaging: [],
          pagingInfo: Number,
          currentPage: 1,
          perpage: 10
        }
    },
    components: {
        RecentActive,
        bPagination
    },
    created () {
        if (this.$route.params.category)
        {            
            api.getArticlesByCate(this.$route.params.category)
            .then(res => {
                this.articles = res.data
                this.pagingInfo = this.articles.length
                var numberOfArticleDefault = (this.pagingInfo < this.perpage)
                                    ? this.pagingInfo
                                    : this.perpage
                for (var i = 0; i < numberOfArticleDefault; i++)
                {
                    this.articlespaging.push(this.articles[i])
                }
            })
        }
        else 
        {
            api.getArticles()
            .then(res => {
                this.articles = res.data
                this.pagingInfo = this.articles.length
                var numberOfArticleDefault = (this.pagingInfo < this.perpage)
                                    ? this.pagingInfo
                                    : this.perpage
                for (var i = 0; i < numberOfArticleDefault; i++)
                {
                    this.articlespaging.push(this.articles[i])
                }
            })
        }       
    },
    methods: {
        otherPageNumber() {
            var numberOfArticle = (this.currentPage*this.perpage > this.pagingInfo)
                                    ? this.pagingInfo
                                    : this.currentPage*this.perpage
            this.articlespaging = []
            for (var i = (this.currentPage - 1)*this.perpage; i < numberOfArticle; i++)
            {
                this.articlespaging.push(this.articles[i])
            }
        }
    }
}
</script>

<style scoped>
.vce-main-content {
    float: left;
    width: 840px;
    padding: 15px 30px 0 0;
}

.main-box {
    padding: 0;
    margin-bottom: 30px;
    float: left;
    display: block;
}

.main-box-title {
    background: #fff;
    color: #232323;
    font-family: 'Roboto Slab';
    font-weight: 400;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    margin: 0;
    padding: 15px 15px 18px;
}

.main-box-inside {
    padding: 20px 20px 0;
    float: left;
}

.vce-loop-wrap {
    float: left;
    width: 100%;
    display: block;
}

article {
    display: block;
}

.vce-post {
    background: #f9f9f9;
    display: flex;
    border-radius: 5px;
    transition: 0.3s linear;
}

.vce-post:hover {
    background-color: #f8f8f8;  
    box-shadow: 2px 4px 4px  rgba(0,0,0,.2);
}

.vce-lay-b {
    margin: 0 0 20px;
    padding: 20px 30px;    
    min-height: 195px;
    width: 769px;
}

.meta-image {
    flex: 1;
    margin-right: 20px;
    display: block;
    position: relative;
    max-width: 100%;
    height: 100%;
    align-self: center;
}

.meta-category a {
    font-size: 16px;
    text-decoration: none;
    color: #3CB371;
}

.update {
    font-style: italic;
}

.img-post {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.entry-header {
    margin: 0 0 5px;
    padding: 10px 0 0;
    flex: 1;
}

.entry-meta div {
    font-size: 14px;
    line-height: 18px;
    display: inline-block;
    text-decoration: none;
    color: #9b9b9b;
}

.entry-title {
    margin-bottom: 3px;
    line-height: 30px;
    font-size: 24px;
    margin-top: 2px;
}

.entry-title a {
    font-family: 'Roboto Slab';
    font-weight: 400;
    color: #125692;
    text-decoration: none;
}

.entry-content {
    padding-bottom: 0;
}

.entry-content p {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
}
</style>