<template>
<section class="product-list">
    <div class="vce-main-content">
        <main class="main-box main-box-single">
            <article class="vce-single">
                <div class="title-session">
                    <div class="article-category" @click.prevent="gotoArticleByCate(article.category)">{{article.category}}</div>
                    <h5 class="title">{{article.title}}</h5>
                    <div class="article-time">Post on <span>Tue June 26th 2018</span></div>
                </div>
                <div class="description-session">
                    <p class="description">{{article.description}}</p>
                </div>
                <img class="img-content" v-bind:src="article.image"/>
                <div class="content-session" v-html="article.content">
                </div>
            </article>
            <div class="social">
                <div class="share">Share</div>
                <a><i class="fa fa-facebook"></i></a>
                <a><i class="fa fa-instagram"></i></a>
                <a><i class="fa fa-google-plus"></i></a>
                <a><i class="fa fa-twitter"></i></a>
            </div>
        </main>
        <Comment></Comment>
    </div>
</section>
</template>

<script>
/* eslint-disable */
import api from '.././service/api'
import Comment from './Comment'
export default {
  name: 'ProductDetail',
  data () {
    return {
      article: {}
    }
  },
  components: {
      Comment
  },
  created () {
    var that = this
    api.getArticle(this.$route.params.slug)
      .then(res => {
          that.article = res.data
      })
  },
  methods: {
      gotoArticleByCate(data) {
          this.$router.push({
              name: "ProductList",
              params: { category: data}
          })
      }
  }
}
</script>
<style scoped>
.vce-main-content {
    width: 840px;
    padding: 15px 0px 30px 0;
    margin: auto;
}
.main-box-single {
    background: #fff;
}
.main-box {
    padding: 0;
    margin-bottom: 30px;
    float: left;
    width: 100%;
}
article {
    display: block;
}

.title-session {
    text-align: center;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
.title-session h5 {
    font-size: 28px;
    line-height: 1.6;
}
.description {
    margin-left: 50px;
    margin-right: 50px;
    font-style: italic;
}
.img-content {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content-session {
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 1.6;
    margin: 0;
    text-align: justify;
}

.article-category {
    width: 100%;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    color: #3CB371;
}
.article-category:hover {
    cursor: pointer;
}
.article-time {
    font-size: 16px;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.article-time span{
    color: #888888;
}

.social {
    width: 100%;
    display: flex;
    padding: 30px 50px;
}
.social .share {
    padding: 3px 20px;
    border-radius: 15px;
    color: #ffffff;
    background: #232323;
    margin-right: 10px;
}

.social a {
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    background: #888888;
    border-radius: 50%;
    color: #ffffff;
    margin: 0 5px;  
}
</style>
