<template>
    <!--sidebar right is here-->
    <aside class="sidebar right">
        <div class="box box-widget widget-user">
            <div class="widget-user-header bg-aqua-active">
                <h3 class="widget-user-username">Statistic
                </h3>
                <h5 class="widget-user-desc">Posts and Comment</h5>
            </div>
            <div class="widget-user-image">
                <a href="#"><img class="img-circle" src=".././assets/user.jpg"></a>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-6 border-right">
                        <div class="description-block">
                            <h5 class="description-header">{{numberOfPost}}</h5>
                            <span class="description-text">POSTS</span>
                        </div>
                    </div>
                    <div class="col-sm-6 border-right">
                        <div class="description-block">
                            <h5 class="description-header">{{numberOfCmt[0]}}</h5>
                            <span class="description-text">COMMENTS</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="article-user" v-if="username">
            <h3 >{{username}}'s Posts</h3>
            <div class="sub-sidebar-item" v-for="(article, index) in articlesByUser"
                                            :key="index"
                                            @click.prevent="goToArticleDetail(article.slug)">
                <div class="article-user-title">{{article.title}}</div>
                <div class="article-user-description">{{article.description}}</div>
            </div>
        </div>
    </aside>
</template>

<script>
/* eslint-disable */
import api from '.././service/api'
export default {
  name: 'RecentActive',
  props: [
      'numberOfPost'
  ],
  data () {
      return {
          numberOfCmt: [],
          username: localStorage.getItem('username'),
          articlesByUser: []
      }
  },
  created() {
      api.getArticleByUser(this.username)
      .then(res => {
          this.articlesByUser = res.data
      })
      api.getNumberOfComment()
      .then(res => {
          this.numberOfCmt = res.data
      })
  },
  methods: {
      goToArticleDetail(data) {
          this.$router.push({
              name: "ProductDetail",
              params: { slug: data}
          })
      }
  }
}
</script>

<style scope>
.sub-sidebar-item {
    padding: 10px;
    cursor: pointer;
    transition: 0.5s ease;
}
.sub-sidebar-item:hover {
    box-shadow: 2px 4px 4px #999999;
    position: relative;
    z-index: 10;
}
div.sub-sidebar-item:nth-child(2n) {
    background-color: #f3f3f3;
}
div.sub-sidebar-item:nth-child(2n + 1) {
    background-color: #ffffff;
}

aside {
    display: block;
}

.sidebar {
    padding-top: 35px;
    float: left;
    width: 300px;
}
.box {
    border-radius: 3px;
    background: #fff;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
.box-widget {
    position: relative;
    border: none;
}
.widget-user .widget-user-header{
    padding: 20px;
    height: 120px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.bg-aqua-active {
    color: #fff!important;
    background-color: #00a7d0!important;
}
.widget-user .widget-user-desc {
    margin-top: 0;
}
.widget-user-username {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 300;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    font-family: 'Source Sans Pro',sans-serif;
}
.widget-user-desc {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    font-family: 'Source Sans Pro',sans-serif;
}
.widget-user-image {
    position: absolute;
    top: 65px;
    left: 50%;
    margin-left: -45px;
}
.img-circle {
    border-radius: 50%;
}
.widget-user .widget-user-image img {
    width: 90px;
    height: auto;
}
.box-footer {
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    padding-top: 30px;
    background-color: #fff;
    border-radius: 0 0 3px 3px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
    width: 307px;
}
.border-right {
    border-right: 1px solid #f4f4f4;
}
.description-block {
    display: block;
    margin: 10px 0;
    text-align: center;
}
.description-header {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Source Sans Pro',sans-serif;
    line-height: 1.1;
    color: inherit;
}
.description-text{
    font-size: 13px;
}
.article-user {
    width: 100%;
    border: 1px solid #eaeaea;
}
.article-user h3 {
    border-bottom: 2px solid #eaeaea;
    padding: 15px;
    margin: 0;
    background-color: #00a7d0;
    color:#ffffff;
    font-size: 18px;
}
.article-user-title {
    font-size: 14px;
    font-weight: bold;
}
.article-user-description {
    font-size: 14px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
</style>
