<template>
    <div class="sign-up-form">
        <h3 class="tittle">Register <i class="glyphicon glyphicon-file"></i></h3>
        <form>
            <div class="sign-up">
                <div class="sign-u">
                    <div class="sign-up1">
                        <label>User Name* :</label>
                    </div>
                    <div class="sign-up2">
                        <input type="text" class="form-control text" name="username" v-model="registerModel.UserName">
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="sign-u">
                    <div class="sign-up1">
                        <label>Email Address* :</label>
                    </div>
                    <div class="sign-up2">
                        <input type="text" required name="email" class="form-control text" v-model="registerModel.Email">
                        <p class="errors-content" v-if="errors.Email">{{errors.Email}}</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="sign-u" style="margin-top: 5px">
                    <div class="sign-up1">
                        <label>Password* :</label>
                    </div>
                    <div class="sign-up2">
                        <input type="password" class="form-control Password" minlength="6" value="Password" v-model="registerModel.Password">
                        <p class="errors-content" v-if="errors.Password">{{errors.Password}}</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="sign-u">
                    <div class="sign-up1">
                        <label>Confirm Password* :</label>
                    </div>
                    <div class="sign-up2">
                        <input type="password" class="form-control Password" minlength="6" value="Password" v-model="registerModel.ConfirmPassword">
                        <p class="errors-content" v-if="errors.ConfirmPassword">{{errors.ConfirmPassword}}</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                    <input class="btn btn-primary btn-lg" type="submit" value="Submit" @click.prevent="register">
            </div>
        </form>
    </div>
</template>

<script>
/* eslint-disable */
import api from '.././service/api'
import Vue from 'vue';
import VeeValidate from 'vee-validate';
Vue.use(VeeValidate);
export default {
    name: 'Register',
    data() {
        return {
            registerModel: {
                UserName: '',
                Email: '',
                Password: '',
                ConfirmPassword: ''
            },
            errors: {
                Password: '',
                ConfirmPassword: '',
                Email: ''
            }
        }
    },
    methods: {
        register() {
            api.register(this.registerModel)
            .then(res => {
                this.$router.push({
                name: 'Login'
                })
            })
            .catch(e => {
                console.log(e.response.data)
                this.errors = {}
                if (e.response.data.Email)
                    this.errors.Email = e.response.data.Email[0];
                if (e.response.data.Password)
                    this.errors.Password = e.response.data.Password[0];
                if (e.response.data.ConfirmPassword)
                    this.errors.ConfirmPassword = e.response.data.ConfirmPassword[0];
            })
        }
    }
}
</script>

<style scoped>
.sign-u {
    padding: 10px;
}
.sign-up{
    padding: 0em 0em;
    margin: 0 auto;
}
.sign-up-form {
    padding: 3em 5em;
    width: 800px;
    margin: auto;
}
.sign-up input[type="submit"]{
    outline: none;
    border: none;
    background: #4A245E;
    color: #fff;
    font-size: 20px;
    width: 17%;
    font-weight: 600;
    display: block;
    margin: auto;
    margin-top: 1em;
    padding: 13px 0;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    text-transform: uppercase;
    -webkit-appearance: none;
}
.sign-up input[type="submit"]:hover{
    background: #F26649;
}
.sign-up1{
    float:left;
    width:27%;
}
.sign-up2{
    float:right;
    width:70%;
}
h3.tittle {
    color: #333;
    font-size: 2em;
    text-align:left;
    margin-bottom:0.8em;
}
h3.tittle i {
    font-size: 0.7em;
    color: #F26649;
}
h3.tittle.reg {
    font-size: 1.6em;
}
h3, h4{
    margin:0;
    font-family: 'Montserrat-Regular';
    font-weight:700;
}
.errors-content {
    color: brown;
}
</style>
