<template>
  <div class="main-wrapper">
        <header id="header" class="main-header">
            <div class="top-header theader">
                <div class="container">
                    <ul class="top-nav-menu">
                        <li>
                            <router-link style="text-decoration: none" to="/register">Register</router-link>
                        </li>
                        <li>
                            <router-link style="text-decoration: none" to="/login">Log in</router-link>
                        </li>
                        <li>
                            <a href="" style="text-decoration: none" @click.prevent="Logout">Log out</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="container header-1-wrapper header-main-area">
                <div class="site-branding">
                    <img class="img-size" src="./assets/logo1.jpg" />
                </div>
            </div>
            <div class="header-bottom-wrapper hbwrapper">
                <div class="container">
                    <nav id="site-navigation" class="main-navigation" role="navigation">
                        <ul class="nav-menu">
                            <li class="li-menu-item">
                                <router-link to="/home">HOME</router-link>
                            </li>
                            <li class="dropdown-category li-menu-item">
                                <a href="/a">CATEGORY</a>
                                <ul class="sub-menu">
                                    <router-link :to="'/home/category/' + category"
                                        tag="li"
                                        v-for="(category, index) in category" :key="index">{{category}}
                                    </router-link>
                                </ul>
                            </li>
                            <li class="li-menu-item">
                                <!--router-link to="/create">POST UP</router-link-->
                                <a href="" @click.prevent="Postup">POST UP</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div class="background-img" style="
    background-image: url(&quot;https://www.w3schools.com/w3images/architect.jpg&quot;);"></div>
        <div class="body-wrapper">
            <div id="content" class="container site-content">
                <!--section home page start here-->
                <router-view :key="$route.fullPath"/>
                <!--end here-->
            </div>
        </div>
        <!--/footer-->
        <div class="footer-copy">
            <div class="footer">
                <div class="footer-top">
                    <div class="col-md-4 footer-grid">
                        <h4>Social Network </h4>
                        <ul class="bottom">
                            <li>Skype Name: tulam1503 </li>
                            <li>Facebook: tu.lam.153</li>
                        </ul>
                    </div>
                    <div class="col-md-4 footer-grid">
                        <h4>Contact Me Now</h4>
                        <ul class="bottom">
                            <li><i class="glyphicon glyphicon-home"></i>Available 24/7 </li>
                            <li><i class="glyphicon glyphicon-envelope"></i><a href="#">tulam1503@gmail.com</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 footer-grid">
                        <h4>Address Location</h4>
                        <ul class="bottom">
                            <li><i class="glyphicon glyphicon-map-marker"></i>571 CMT8 Street, Tan Binh District </li>
                            <li><i class="glyphicon glyphicon-earphone"></i>phone: 0367 535 638 </li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="copy">
                <p>&copy; 2018 Blogger. Lowell BC's Training | Design by <a href="#" style="text-decoration: none">Tu Lam</a> </p>
            </div>
        </div>
    </div>
</template>

<script>
/* eslint-disable */
import ProductList from './components/ProductList'
import Register from './components/Register'
import CreateProduct from './components/CreateProduct'
export default {
  name: 'App',
  data () {
    return {
      category: [
        'Cuisine',
        'Hi-tech',
        'Education',
        'Travel',
        'Funny',
        'Cine',
        'Discovery',
        'Musik'
      ],
      username: ''
    }
  },
  components: {
    ProductList,
    Register,
    CreateProduct
  },
  methods: {
    Logout () {
        if (confirm("Do you want to log out of page?")) {
            localStorage.clear()
            this.$router.push({
              name: 'Login'
            })
        }
    },
    Postup() {
        if (localStorage.getItem('username'))
        {
            return this.$router.push({
                path: '/create',
                name: 'CreateProduct'
              })
        }
        else
        {
            alert('You have not logged in')
        }
    }
  }
}
</script>

<style scoped>
.main-wrapper{
    margin: 0px;
}

.main-header {
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);
    display: block;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
}

.top-header {
    background: #3d454c;
    color: #fff;
    height: 40px;
}
.theader {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 6;
}
.top-header a{
    color: #fff;
}

.top-nav-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .top-nav-menu li {
        margin: 0 10px 0 0;
        display: inline-block;
        position: relative;
    }

    .top-nav-menu li a {
        font-size: 13px;
        line-height: 40px;
    }

.header-1-wraper {
    height: 150px;
    padding-top: 15px;
}

.header-main-area {
    position:relative;
}

.site-branding {
    text-align:center;
}

.img-size {
    width: 300px;
    height: 80px;
    margin-bottom: 20px;
    margin-top: 25px;
}

.header-bottom-wrapper {
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
    background: #fcfcfc;
}
.hbwrapper {
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    z-index: 6;
}
.nav-menu {
    position: relative;

}

    .nav-menu > li > a {
        box-shadow: -1px 0 0 0 rgba(0,0,0,.05);
    }

.li-menu-item:hover {
    background-color: #fff;
}

.main-navigation {
    clear: both;
    display: block;
    width: 100%;
}

    .main-navigation .nav-menu {
        font-size: 0;
    }

    .main-navigation ul {
        margin: 0;
        list-style: none;
        text-align: center;
    }

    .main-navigation a {
        color: #4a4a4a;
        font-family: 'Roboto Slab';
        font-weight: 400;
        display: block;
        font-size: 16px;
        line-height: 20px;
        padding: 15px;
        text-decoration: none;
    }

.main-navigation li {
    font-size: 16px;
    display: inline-block;
    position: relative;
}

.dropdown-category{
    display:inline-block;
}

.dropdown-category:hover .sub-menu{
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    left: 0;
}

.dropdown-category:hover .sub-menu-1{
    background-color: #fff;
    display: block;
}

.sub-menu {
    position: fixed;
    display: none;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,.2);
    padding: 0px;
}
.sub-menu-1 {
    position: absolute;
    display: none;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,.2);
    padding: 0px;
}

    .sub-menu li {
        display: block;
        padding: 10px 15px;
        width: 20%;
        margin: 0;
        cursor: pointer;
        transition: 0.3s linear;
    }

    .sub-menu-1 li {
        display: block;
        padding: 5px;
        cursor: pointer;
        transition: 0.3s linear;
    }

    .sub-menu li:hover, .sub-menu-1 li:hover {
        background-color: #eaeaea;
    }

    .sub-menu li a, .sub-menu-1 li a {
        margin-left: 15px;
        margin-right: 15px;
    }

.sort-by {
    width: 150px;
}
.body-wrapper {
    margin-top: 370px;
    background-color: #fff;
    position: relative;
    z-index: 5;
}
.background-img {
    position: fixed;
    top: 90px;
    left: 0;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
}

.site-content {
    padding: 15px 0 0;
}

.footer-copy {
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer {
    padding: 1em 0;
    background-color: #111;
    text-align: center;
    position: relative;
}
.footer-grid h4 {
    color: #fff;
    font-size: 1.5em;
}

ul.bottom{
    margin-top:1.2em;
}
ul.bottom li {
    list-style: none;
    display: block;
    margin-bottom: 1em;
    color: #707073;
    font-size: 0.9em;
}
ul.bottom li a{
    color: #707073;
    font-size:1em;
}
ul.bottom li a:hover{
    color: #F26649;
}
ul.bottom i {
    color: #fff;
    margin-right: 0.5em;
}

.copy {
    text-align: center;
    background:#4A245E;
    height: 40px;
}
.copy p {
    color: #fff;
    font-size: 0.9em;
    padding-top: 5px;
}
.copy p a {
    color: #F26649;
}
.copy p a:hover{
    text-decoration: underline;
}
</style>
